<?xml version="1.0" encoding="UTF-8"?>

<plugin id="com.acme.outsystems.sqlite"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>SQLitePlugin</name>

    <js-module src="www/sqlite.js" name="SQLitePlugin">
        <clobbers target="SQLitePlugin" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/SQLitePlugin.java"
                     target-dir="src/com/acme/outsystems/sqlite" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/SQLitePlugin.swift" />
    </platform>

</plugin>